body {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

.btn-gap .btn{
  margin: .25rem .125rem;
}

a {
  color: #fdcb0d !important;
}
.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  opacity: .1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  max-height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -.75rem 0;
  border: solid #dee2e6;
  border-width: 1px 0 0;
}
@media (min-width: 576px){
  .bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
}

.showError{
  display: block;
  color:red;
}
